In [44]:
import pandas as pd
import numpy as np

In [56]:
world_hap_2015 = pd.read_csv('data/2015.csv')
world_hap_2016 = pd.read_csv('data/2016.csv')
world_hap_2017 = pd.read_csv('data/2017.csv')
world_hap_2018 = pd.read_csv('data/2018.csv')
world_hap_2019 = pd.read_csv('data/2019.csv')
country_and_region = world_hap_2015[['Country', 'Region']]

world_hap_2015.drop(columns=['Region', 'Happiness Rank', 'Standard Error'], inplace=True)
world_hap_2016.drop(columns=['Region', 'Happiness Rank', 'Lower Confidence Interval', 'Upper Confidence Interval'], inplace=True)
world_hap_2017.drop(columns=['Happiness.Rank', 'Whisker.high', 'Whisker.low'], inplace=True)
world_hap_2018.drop(columns=['Overall rank'], inplace=True)
world_hap_2019.drop(columns=['Overall rank'], inplace=True)

world_hap_2015.columns = ['Country', 'Happiness_Score', 'GDP_per_Capita', 'Social_Support', 'Life_Expectancy', 'Freedom', 'Corruption', 'Generosity', 'Dystopia_Residual']
world_hap_2016.columns = ['Country', 'Happiness_Score', 'GDP_per_Capita', 'Social_Support', 'Life_Expectancy', 'Freedom', 'Corruption', 'Generosity', 'Dystopia_Residual']

world_hap_2017.columns = ['Country', 'Happiness_Score', 'GDP_per_Capita', 'Social_Support', 'Life_Expectancy', 'Freedom','Generosity', 'Corruption', 'Dystopia_Residual']
world_hap_2018.columns = ['Country', 'Happiness_Score', 'GDP_per_Capita', 'Social_Support', 'Life_Expectancy', 'Freedom', 'Generosity', 'Corruption']
world_hap_2019.columns = ['Country', 'Happiness_Score', 'GDP_per_Capita', 'Social_Support', 'Life_Expectancy', 'Freedom', 'Generosity', 'Corruption']

world_hap_2018['Dystopia_Residual'] = world_hap_2018['Happiness_Score'] - (world_hap_2018['GDP_per_Capita']+world_hap_2018['Social_Support']+world_hap_2018['Life_Expectancy']+world_hap_2018['Freedom']+world_hap_2018['Generosity']+world_hap_2018['Corruption'])
world_hap_2019['Dystopia_Residual'] = world_hap_2019['Happiness_Score'] - (world_hap_2019['GDP_per_Capita']+world_hap_2019['Social_Support']+world_hap_2019['Life_Expectancy']+world_hap_2019['Freedom']+world_hap_2019['Generosity']+world_hap_2019['Corruption'])

world_hap_2015['year'] = pd.to_datetime('2015', format='%Y')
world_hap_2016['year'] = pd.to_datetime('2016', format='%Y')
world_hap_2017['year'] = pd.to_datetime('2017', format='%Y')
world_hap_2018['year'] = pd.to_datetime('2018', format='%Y')
world_hap_2019['year'] = pd.to_datetime('2019', format='%Y')

world_hap = pd.concat([world_hap_2015, world_hap_2016, world_hap_2017, world_hap_2018, world_hap_2019])
print(world_hap.shape)

world_hap = world_hap.merge(country_and_region, how='inner', on='Country')
print(world_hap.shape)

(782, 10)
(757, 11)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:30: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [46]:
world_hap_2015.head()

,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Corruption,Generosity,Dystopia_Residual,year
0,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015-01-01
1,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015-01-01
2,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015-01-01
3,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015-01-01
4,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015-01-01

In [47]:
world_hap_2016.head()

,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Corruption,Generosity,Dystopia_Residual,year
0,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016-01-01
1,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016-01-01
2,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016-01-01
3,Norway,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016-01-01
4,Finland,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016-01-01

In [48]:
world_hap_2017.head()

,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Generosity,Corruption,Dystopia_Residual,year
0,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017-01-01
1,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017-01-01
2,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017-01-01
3,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017-01-01
4,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017-01-01

In [49]:
world_hap_2018.head()

,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Generosity,Corruption,Dystopia_Residual,year
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2.585,2018-01-01
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2.383,2018-01-01
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2.371,2018-01-01
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2.426,2018-01-01
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2.318,2018-01-01

In [50]:
world_hap_2019.head()

,Country,Happiness_Score,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Generosity,Corruption,Dystopia_Residual,year
0,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2.714,2019-01-01
1,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2.394,2019-01-01
2,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2.241,2019-01-01
3,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2.401,2019-01-01
4,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2.394,2019-01-01

In [57]:
world_hap.head()

,Corruption,Country,Dystopia_Residual,Freedom,GDP_per_Capita,Generosity,Happiness_Score,Life_Expectancy,Social_Support,year,Region
0,0.419780,Switzerland,2.517380,0.665570,1.39651,0.296780,7.587,0.941430,1.349510,2015-01-01,Western Europe
1,0.412030,Switzerland,2.694630,0.585570,1.52733,0.280830,7.509,0.863030,1.145240,2016-01-01,Western Europe
2,0.367007,Switzerland,2.276716,0.620071,1.56498,0.290549,7.494,0.858131,1.516912,2017-01-01,Western Europe
3,0.357000,Switzerland,2.318000,0.660000,1.42000,0.256000,7.487,0.927000,1.549000,2018-01-01,Western Europe
4,0.343000,Switzerland,2.272000,0.572000,1.45200,0.263000,7.480,1.052000,1.526000,2019-01-01,Western Europe